version: "3.8"
services:
  graphql:
    build: ./graphql_server
    depends_on:
      - postgres
      - mongo
    ports:
      - 4000:4000
  scraper:
    build: ./scraper
  mongo:
    image: mongo:4.4.1-bionic
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017
  postgres:
    image: postgres:13.0-alpine
    env_file: ./postgres/.env
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
  mongo_data:
