<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        <section>
        <button id="refresh">Refresh recipes</button>
        <div id="recipe_1"></div>
        </section>
    </body>
</html>
